@use 'color';
@use 'border';
@use 'font';
@use 'space';

BarMem {
  padding: space.$normal;
  color: color.$fg-default;
  background-color: color.$bg-dim;
  border: border.$width solid color.$fg-green;
  border-radius: border.$radius;

  &_memory {
    font-size: font.$size-large;
  }
}
