@use 'color';
@use 'common';

BarTray {
  @include common.bar-block;
  
  &_item {
    @include common.padding-x;
    color: color.$fg-aqua;
    cursor: pointer;

    & > * {
      background-color: transparent;
      padding: 0;
    }


    &_icon  {

    }
  }
}
