.bar {
  font-family: "Hasklug Nerd Font Mono";
  font-weight: 400;
  font-size: 15px;
  background: transparent;
}

.bar_left {
  background: red;
}
.bar_center {
  background: blue;
}
.bar_right {
  background: green;
}
