@use 'common';

Bar {
  margin: 0 6px 6px 6px;
  font-family: common.$font-family; 
  font-size: common.$font-size;
  font-weight: 400;
  background-color: transparent;

  &_inner {

  }

  &_left > *,
  &_center > *,
  &_right > * {
    margin: 0 common.$space-small;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

