@use 'color';
@use 'common';

BarCpu {
  @include common.bar-block;
  color: color.$fg-yellow;

  &_icon {
    @include common.padding-x;
    font-size: common.$font-size-icon;
  }

  &_value {
    @include common.padding-x;
    font-size: common.$font-size-large;
  }
}
