@use 'color';
@use 'common';

BarMem {
  @include common.bar-block;
  color: color.$fg-orange;

  &_icon {
    @include common.padding-x;
    font-size: common.$font-size-icon;
  }

  &_memory {
    @include common.padding-x;
    font-size: common.$font-size-large;
  }
}
