@use 'color';
@use 'common';

BarTime {
  @include common.bar-block;
  color: color.$fg-aqua;

  &_icon {
    @include common.padding-x;
    font-size: common.$font-size-icon;
  }

  &_time {
    @include common.padding-x;
    font-size: common.$font-size-large;
  }
}
